/* :root{
    --akcent-color:#ffd700;
    --secondary-txt-color:rgba(255,215, 0, 0.8);
    --hover-color:red;
    --bgc:#000;
    --gradient:rgba(0,0,0,0.7)
} */

/* body{
    background-color:var(--bgc);
    font-family: 'Roboto', sans-serif;
    text-align: center;

} */

/* h2,h3{
color: var(--akcent-color);
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
} */

/* h1{
   color: var(--akcent-color);
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height:1.36;

} */

/* p{
    color: rgba(255,215, 0, 0.8);
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
} */

/* ul {list-style: none;
    margin-top: 0px;
    padding-left: 0px;
    
} */
/* a{
    text-decoration: none; 
} */
/* .button{
    width: 40px;
    height: 27px;
    border:1px solid var(--akcent-color);
    border-radius: 4px;
    padding: 10px 20px;
}
.button:hover,.button:focus{
color: var(--hover-color);
border-color: var(--hover-color);
} */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } */

  /* .is-hidden{
    opacity: 0;
    pointer-events: none;

} */

/* .title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.9;
    letter-spacing: 0.03em;

} */


/* .border__img{
display:block;
} */

/* .header__position{
   height: 70px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    align-items: center;
    
} */



/* .navigation{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items:center;
    text-align: center;
}





.logo{
    position: absolute;
left: 45%;
right: 45%;

    margin-right:auto;
    margin-left: auto;
    
}

.nav__left{
    display:flex;
margin-right: auto;
padding: 0px;
}



.nav__right{
    display:flex;
    margin-left: auto;
    padding:0px;
   
}


.nav__position{
 margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}


    .nav__position__link {
       
      padding-bottom: 10px;
        color: var(--akcent-color);
    }
        .nav__position__link:hover,.nav__position__link:focus{
        color:var(--hover-color);
    
    } */

                                        /* !HERO!!!! */
/* .hero{
    
    
    background-image:linear-gradient(var(--gradient) ,var(--gradient) ), url(/icon/hero-bgc.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 500px;
    display:inline-block;
   
    text-align:center;

}

.hero__title{
    margin-top: 100px;
    margin-bottom: 30px;
    display:inline-block;
    
    
    margin-left: auto;
    margin-right: auto;
}
.hero__button{
display: inline-block;
margin-bottom: 200px;
margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: var(--akcent-color);
    color:var(--bgc);
    border-radius: 4px;
} */

                     /*! TOP!!!!!! */
/* .top{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
   
}
.top__titile{
    margin-top: 30px;
    margin-bottom: 50px;
}
.top__list{
    margin-right: 75px;
   
}
.top__list:nth-child(3){
    margin-right: 0px;
}
.top__link{
    display: inline-block;
    position: relative;
    color: var(--akcent-color);
    border: solid 1px currentColor ;
    border-radius: 4px;
    overflow: hidden;
}
.top__link:hover,.top__link:focus{
    color: var(--hover-color);
    border:solid 1px currentColor ;
    background-color: var(--akcent-color);
}

.top__pedestal{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 100px;
    background-color: var(--gradient) ;
}
.top__kard{
    color: currentColor;
}
.top__deskription{
    color: currentColor;
} */
 
                                          /*!!!! Категории!!!!!!!!! */
/* .filters{

    margin-left: auto;
    margin-right: auto;
}
.filters__title{
  
    margin-top: 30px;
    margin-bottom: 50px;

}



.filters__link{
    display:block;
    position: relative;
    width: 98%;
    height: 98%;
    border: solid 2px currentColor;
    border-radius: 4px;
    overflow: hidden;
    
    color: var(--akcent-color);
}

.filters__link:hover,.filters__link:focus {
    border: solid 2px var(--hover-color) ;
    background-color: var(--akcent-color);
}



.filters__link:hover,.filters__link:focus{
color:var(--hover-color);
 
}

.filters__pedestal{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 70px;
    background-color: var(--gradient) ;
}
.filters__description{
    color: currentColor;
}

.filters__list{
    display: flex;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}
.filters__obgect{
    margin-right: 35px;
 
}



.filters__obgect:last-child{
margin-right: 0px;
} */
                       /* !!!!!  ПРЕЙМУЩЕСТВА!!!!!! */
/* .advantages__title{
    text-align: center;
}
.advantages__list{
    padding-left: 0px;
display: flex;
}
.advantages__card{
    margin-right: 40px;
    width: 270px;
    height: 260;
    color: var(--akcent-color);
    border: solid 1px currentColor;
    border-radius: 4px;
}
.advantages__card:last-child{
    margin-right: 0px;
}
.advantages__icon{
    fill: var(--akcent-color);
}
.filters__description{
    margin-bottom: 10px;

} */

                 /* !!!!!!! БРЕНДЫ!!!!!!!! */

/* .brand{
    margin-top: 30px;
   
}
.brand__list{
    display: flex;
    margin-bottom: 30px;
    
    margin-right: auto;
    margin-left: auto;
}
.brand__card{
    display: flex;
    
    margin-right: 36px;
}
.brand__card:last-child {
    margin-right: 0px;
}
.brand__link{
   
    display: flex;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: var(--akcent-color);
    border: solid 1px currentColor;
    border-radius: 4px;
   
}
.brand__link:hover,.brand__link:focus{
    color: var(--hover-color);
    background-color: var(--akcent-color);
}

.brand__logo{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    width: 60px;
    height: 60px;
    fill: currentColor;
} */
                              /* !!!!!!  FOOTER!!!!!!!!! */
/* 
.footer{
    display: flex;
}
.footer__logo{
  display: flex;
  justify-content: center;
    margin-right: 50px;
}

.footer__location{
    margin-top: 30px;
    margin-bottom: 10px;
}
.contact__footer{
    display:block;
    margin-bottom: 10px;
}
.contact__footer:last-child{
    margin-bottom: 0px;
}

.footer__network__blok{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.footer__send{
color: var(--akcent-color);
}
.footer__send:hover,.footer__send:focus{
    color:var(--hover-color);
    }
    .footer__list{
        display: flex;
    }
    .footer__card{
        display: flex;
        margin-right: 15px;
    }

    .footer__card:last-child{
        margin-right: 0px;
    }
.footer__link{
   display: flex;
  justify-content:center;
  align-items: center;

    width: 44px;
    height: 44px;


    border: solid 2px currentColor;
    border-radius: 50%;
   color: var(--akcent-color);
}

.footer__link:hover,.footer__link:focus{
    color: var(--hover-color);
    background-color: var(--akcent-color);
}
.footer__network{
    fill: currentColor;
}

.footer__form{
    display: flex;

}

.footer__send{
    cursor: pointer;
    margin-left: 50px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    color: var(--akcent-color);
    background-color: var(--bgc);
} */


                     /* !!!!!!!     Men-Set */



                  /* !!!!!!!!!!!MODAL */

                  
  /* .backdroup   {

    position:fixed;
top:0;
left:0;
    width: 100%;
    height: 100%;

   background-color:var(--gradient) ;
   opacity: 1;
   transform:rotate(0deg);
   transition:transform 500ms linear,opacity 500ms linear;


}
.is-hidden{
    opacity: 0;
    pointer-events:none;
    transition:500ms linear;
    transform:rotateY(180deg)
}

.modal{
   position: absolute;
opacity: 1;
   width: 528px;
   height: 550px;
padding: 15px;
top: 50%;
left: 50%;

transform: translate(-50%,-50%);



   background-color: #fff;

}

.modal__close{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #000 solid 1px ;
    background-color: #fff;
}
.form__container{
    display: flex;
    flex-direction: column;
   
}

.form__submit{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    background-color: var(--akcent-color);
    border-radius: 4px;
}
.form__submit:hover{
    background-color: var(--hover-color);
        
}
.form__obgeckt{
   
    text-align: left;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 5px;
    
}
.form__input{
    width: 500px;
    height: 30px;
}

.form__coments{
    resize: none;
    width: 500px;
    height: 100px;
    margin-bottom: 30px;
} */