:root{
    --akcent-color:#ffd700;
    --secondary-txt-color:rgba(255,215, 0, 0.8);
    --bgc:#000;
   
}

body{
    background-color:var(--bgc);
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
color: var(--akcent-color);
}


p{
    color: rgba(255,215, 0, 0.8);
}

ul {list-style: none;
    
}
a{
    text-decoration: none; 
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin: 0,auto;


}
.header-position{
    height: 100px;
    display:flex;
    align-items: center;
    border-bottom: 1px solid var(--akcent-color);
}
.navigation{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items:center;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    
}

.nav-left{
    display:flex;
    margin-right: 100px;
    margin-bottom: 0px;
}

.nav-right{
    display:flex;
    margin-bottom: 0px;
    margin-left: 100px;

}
.nav-position{
    margin-right:50px;
    }
    .nav-position a{
        color: var(--akcent-color);
    }
    .nav-position a:hover,.nav-position a:focus{
        color:var(--secondary-txt-color);
    }